// COLORS

$brand-primary: #d6b981
$brand-light: #c8976e
$light-gray: #edeef0
$gray: #888888
$dark-gray: #929292

// FONTS

$primary: 'Marcellus', serif
$secondary: 'Open Sans', sans-serif

$boxshadow:  0 0 40px 0 rgba(118, 115, 112, 0.26)