/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: inherit; }

h1, h2 {
  font-family: "Marcellus", serif;
  font-weight: regular;
  color: #000; }

h3, h4, h5 {
  font-family: "Marcellus", serif;
  font-weight: regular;
  color: #000; }

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: regular;
  color: #929292; }

li {
  font-family: "Marcellus", serif;
  font-weight: 400;
  color: #929292; }

a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #929292;
  text-transform: uppercase; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

html type[button] {
  background: transparent;
  border: none; }

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: regular;
  color: #929292; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: regular;
  color: #929292; }

hr {
  width: 250px;
  border-width: 1px;
  border-color: #d6b981;
  margin-top: 25px; }

.button-1 {
  color: #fff;
  background-color: #d6b981;
  border-radius: 0;
  font-family: "Marcellus", serif;
  font-weight: bold;
  padding: 15px 65px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: none; }
  .button-1:hover {
    cursor: pointer; }

a.button-1 {
  color: #fff; }

.button-1:hover, .button-1:active {
  background-color: #d6b981;
  box-shadow: 0 0 40px 0 rgba(118, 115, 112, 0.26); }

.button-2 {
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  font-family: "Marcellus", serif;
  font-weight: bold;
  padding: 15px 65px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fff; }
  .button-2:hover {
    background: #ffffff;
    color: #d6b981; }

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.navbar-toggler:focus {
  outline: none; }

.navbar-brand {
  height: 100%;
  width: 145px;
  background: #d6b981;
  padding: 1%; }
  .navbar-brand img {
    width: 100%;
    height: auto; }

.navbar-toggler-icon {
  background-color: #d6b981;
  color: #fff;
  padding-top: 3px; }

.navbar-collapse {
  z-index: 3;
  justify-content: center;
  flex-basis: auto; }
  .navbar-collapse a {
    color: #fff;
    font-size: 14px; }
  .navbar-collapse li {
    text-align: center;
    padding: 0 1rem; }
  .navbar-collapse a:hover {
    color: #d6b981; }

@media (min-width: 992px) and (max-width: 1024px) {
  .navbar-collapse a {
    width: 120px;
    font-size: 0.9em; } }
@media (max-width: 768px) {
  .navbar {
    background: rgba(0, 0, 0, 0.8); }

  .navbar-collapse {
    width: 100%;
    border-radius: 1%; }
    .navbar-collapse ul {
      padding-top: 30px;
      padding-bottom: 30px; }
    .navbar-collapse li {
      margin-bottom: 5px; }
    .navbar-collapse a {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 5px; } }
#home-about {
  padding: 90px 0; }

#products {
  padding: 90px 0;
  background-color: #b8a48d; }
  #products .title {
    margin-bottom: 25px; }
    #products .title h2, #products .title p {
      color: #fff; }
  #products.home-products {
    margin-bottom: 80px; }

.home-gallery-title {
  margin-bottom: 40px; }

#blog-heading {
  display: flex;
  align-items: center;
  min-height: 500px; }
  #blog-heading.single-product-heading {
    max-height: 300px; }

#blogpage {
  padding-bottom: 75px;
  padding-top: 50px;
  background-color: #edeef0; }

@media (min-width: 768px) and (max-width: 1200px) {
  #blogpage {
    padding-bottom: 350px; } }
#contact-page .contact {
  padding-top: 0; }
#contact-page .contact-intro {
  display: flex;
  align-items: center;
  min-height: 500px;
  max-width: 100%;
  background-size: cover;
  background-position: center center; }
  #contact-page .contact-intro .contact-title {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; }
    #contact-page .contact-intro .contact-title h1 {
      color: #d6b981; }
    #contact-page .contact-intro .contact-title p {
      color: #fff; }
    @media (max-width: 992px) {
      #contact-page .contact-intro .contact-title {
        width: 80%; } }

footer .top-footer {
  background-color: #2c2c2c;
  padding-top: 2%;
  padding-bottom: 2%; }
  footer .top-footer ul li {
    float: left;
    padding-left: 25px;
    padding-right: 25px; }
    footer .top-footer ul li a {
      font-size: 14px;
      white-space: nowrap; }
    @media (max-width: 768px) {
      footer .top-footer ul li {
        padding-left: 10px;
        padding-right: 10px; } }
  @media (max-width: 768px) {
    footer .top-footer ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; } }
  footer .top-footer h5 {
    color: #fff; }
footer .bottom-footer {
  background-color: #2c2c2c;
  min-height: 50px;
  border-top: 1px solid #6d6d6d; }
  footer .bottom-footer p {
    font-size: 14px; }
    footer .bottom-footer p:first-child {
      margin-right: 30px; }

.notfoundbg {
  min-height: 300px;
  background-color: #888888; }
  .notfoundbg h2 {
    color: #fff; }

.homelink {
  min-height: 275px; }
  .homelink a:hover {
    color: #d6b981; }

#hero .owl-carousel .caption {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  animation-duration: 3s;
  z-index: 2; }
  #hero .owl-carousel .caption h1 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    color: #d6b981; }
  #hero .owl-carousel .caption p, #hero .owl-carousel .caption a {
    color: #fff; }
  #hero .owl-carousel .caption a {
    font-size: 14px;
    position: relative;
    z-index: 100; }
  #hero .owl-carousel .caption:after {
    content: "";
    width: 96%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 2%;
    border: 1px solid #d6b981; }
#hero .owl-carousel .owl-nav {
  z-index: 2; }
  #hero .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    width: 45px;
    height: 45px; }
    #hero .owl-carousel .owl-nav .owl-prev:hover {
      background-color: #d6b981; }
    #hero .owl-carousel .owl-nav .owl-prev i {
      font-size: 2.5em; }
  #hero .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    width: 45px;
    height: 45px; }
    #hero .owl-carousel .owl-nav .owl-next:hover {
      background-color: #d6b981; }
    #hero .owl-carousel .owl-nav .owl-next i {
      font-size: 2.5em; }
#hero .owl-carousel .owl-dots {
  display: none !important; }
#hero .owl-carousel .item {
  position: relative;
  max-height: 675px; }
  #hero .owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto; }
  #hero .owl-carousel .item .overlay {
    background-color: rgba(184, 126, 74, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

@media (max-width: 1250px) {
  #hero .owl-carousel .caption {
    width: 50%;
    top: 30%;
    left: 0; } }
@media (max-width: 768px) {
  #hero .owl-carousel {
    height: 500px; }
    #hero .owl-carousel .owl-stage-outer {
      height: 100%; }
      #hero .owl-carousel .owl-stage-outer .owl-stage {
        height: 100%; }
        #hero .owl-carousel .owl-stage-outer .owl-stage .owl-item {
          height: 100%; }
          #hero .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
            height: 100%; }
            #hero .owl-carousel .owl-stage-outer .owl-stage .owl-item .item img {
              height: 100%;
              object-fit: cover; }
    #hero .owl-carousel .caption {
      width: 100%;
      left: 0; } }
@media (max-width: 576px) {
  #hero .owl-carousel .caption {
    top: 25%; }
  #hero .owl-carousel .owl-nav .owl-prev {
    font-size: 0.5em;
    bottom: 5%;
    top: auto;
    width: 30px;
    height: 30px; }
  #hero .owl-carousel .owl-nav .owl-next {
    font-size: 0.5em;
    bottom: 5%;
    top: auto;
    width: 30px;
    height: 30px; } }
#home-about img {
  width: 150px;
  float: left;
  margin: 0 30px;
  border-radius: 100%;
  filter: grayscale(50%);
  margin-bottom: 25px; }
#home-about .btnrow {
  margin-top: 25px; }
#home-about .title {
  margin-bottom: 25px; }

@media (max-width: 768px) {
  #home-about img {
    float: none; } }
.servicecard {
  background-color: #888888;
  padding: 5%;
  box-shadow: 0 0 40px 0 rgba(118, 115, 112, 0.26);
  border-radius: 3px;
  margin-bottom: 25px; }
  .servicecard .material-icons {
    color: #fff;
    font-size: 4em; }
  .servicecard p {
    color: #fff; }
  .servicecard h3 {
    color: #fff;
    margin-bottom: 16px; }

@media (max-width: 768px) {
  .servicecard {
    margin-bottom: 25px; } }
.product-card {
  box-shadow: 0 0 40px 0 rgba(118, 115, 112, 0.26);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; }
  .product-card .product-card-image {
    height: 228px; }
    .product-card .product-card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .product-card h3 {
    padding: 20px 0 10px 0;
    margin-bottom: 0px;
    background-color: #fff;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px; }
    .product-card h3 a {
      font-family: "Marcellus", serif;
      text-transform: none;
      color: #000; }
  .product-card .entry-meta {
    background-color: #fff;
    padding-bottom: 10px; }
  .product-card p {
    background-color: #fff;
    min-height: 195px;
    position: relative;
    padding: 0 25px 75px 25px;
    margin: 0; }
  .product-card .readmore {
    padding: 25px 0;
    display: block;
    position: absolute;
    bottom: 0;
    color: #000000;
    font-size: 14px; }
    .product-card .readmore:hover {
      text-decoration: none;
      color: #d6b981; }

@media (max-width: 768px) {
  .product-card {
    margin-bottom: 25px; } }
.bottom-footer-text {
  display: flex;
  align-items: center;
  justify-content: center; }
  .bottom-footer-text p {
    color: #fff;
    margin-bottom: 0px;
    font-weight: bold; }
  @media (max-width: 768px) {
    .bottom-footer-text {
      flex-direction: column; } }

.top-footer i {
  color: #fff;
  margin: 5px;
  width: 50px;
  height: 50px;
  padding: 10px 7px 7px 7px;
  border-radius: 100%;
  background-color: #929292; }
  .top-footer i:hover {
    background-color: #c8976e; }
.top-footer .top-footer-text {
  text-align: center; }
.top-footer .center {
  display: flex;
  align-items: center;
  justify-content: center; }
.top-footer h4 {
  color: #fff; }
.top-footer p {
  color: #fff;
  margin-bottom: 0px; }
.top-footer ul {
  padding-left: 0px; }
  .top-footer ul li {
    list-style: none; }
    .top-footer ul li a {
      color: #fff;
      padding: 0px; }
  .top-footer ul li:hover a {
    color: #c8976e; }

@media (max-width: 768px) {
  footer .center {
    padding: 15px 10px; }
    footer .center h4 {
      text-align: center; }
    footer .center li {
      display: inline-block;
      padding: 5px; } }
#about-me img {
  border-radius: 100%;
  margin-bottom: 25px;
  width: 150px;
  filter: grayscale(50%); }
#about-me hr {
  margin-bottom: 25px; }

@media (max-width: 768px) {
  #about-me img {
    width: 175px; } }
.contact {
  padding: 50px 0 75px 0; }
  .contact .contact-intro {
    max-width: 975px;
    margin: 0 auto 60px auto; }
  .contact .padd {
    padding-left: 15px;
    padding-right: 15px; }
  .contact .contact-card {
    box-shadow: 0 0 40px 0 rgba(118, 115, 112, 0.26);
    background-color: #fff;
    padding: 75px 50px 75px 75px;
    margin-bottom: 25px; }
    .contact .contact-card h3 {
      margin-bottom: 25px;
      font-size: 24px; }
    .contact .contact-card p {
      text-align: left; }
    .contact .contact-card strong {
      color: #000; }
    .contact .contact-card .lead {
      margin-bottom: 40px; }
    .contact .contact-card .btn {
      margin: 15px 0; }
    .contact .contact-card input, .contact .contact-card textarea {
      border-color: #efe3cd;
      border-radius: 0;
      padding-top: 15px;
      padding-bottom: 15px; }
      .contact .contact-card input:placeholder, .contact .contact-card textarea:placeholder {
        color: #353434; }
    .contact .contact-card span .wpcf7-not-valid {
      border: 1px solid #ff0000; }
    .contact .contact-card span.wpcf7-not-valid-tip {
      display: none; }
    .contact .contact-card div.wpcf7-validation-errors {
      display: none !important; }
    @media (max-width: 768px) {
      .contact .contact-card {
        padding: 50px 40px; } }

#testimonials .owl-carousel .owl-nav .owl-prev {
  background-color: rgba(85, 85, 85, 0.6);
  border-radius: 100%;
  width: 30px;
  height: 30px; }
  #testimonials .owl-carousel .owl-nav .owl-prev:hover {
    background-color: rgba(184, 126, 74, 0.8); }
#testimonials .owl-carousel .owl-nav .owl-next {
  background-color: rgba(85, 85, 85, 0.6);
  border-radius: 100%;
  width: 30px;
  height: 30px; }
  #testimonials .owl-carousel .owl-nav .owl-next:hover {
    background-color: rgba(184, 126, 74, 0.8); }
#testimonials .owl-carousel .owl-dots .owl-dot span {
  background-color: #929292; }
#testimonials .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #edeef0; }
#testimonials .owl-carousel .item hr {
  border-color: #edeef0; }
#testimonials .owl-carousel .item p {
  color: #edeef0; }
#testimonials .bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(assets/images/surfing.jpg);
  filter: grayscale(40%);
  background-size: cover; }
#testimonials .overlay {
  background-color: rgba(184, 126, 74, 0.4);
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
#testimonials p {
  color: #fff;
  z-index: 1; }

@media (max-width: 768px) {
  #testimonials .bg {
    background-position: 800px 0; } }
#blog-heading h2 {
  color: #d6b981; }
#blog-heading p {
  color: #fff; }

#blogpage .title {
  padding: 50px;
  margin-bottom: 90px;
  background-color: #888888; }
  #blogpage .title h1 {
    color: #fff; }
  #blogpage .title p {
    color: #fff; }

#blogpostpage .blogpost {
  margin-top: -25px;
  margin-bottom: 75px;
  padding: 10px 10px 25px 10px;
  box-shadow: 0 0 40px 0 rgba(118, 115, 112, 0.26);
  background-color: #fff; }
#blogpostpage .single-product-text {
  margin-top: 75px;
  margin-bottom: 75px; }
  #blogpostpage .single-product-text hr {
    margin-bottom: 40px; }
  #blogpostpage .single-product-text .gmedia_gallery {
    padding-top: 30px;
    padding-bottom: 30px; }
  #blogpostpage .single-product-text p {
    padding-left: 15px;
    padding-right: 15px; }
#blogpostpage .contact {
  padding-top: 0; }
#blogpostpage .contact-title {
  background-color: #fff; }

.products-page-title {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px; }
  @media (max-width: 992px) {
    .products-page-title {
      width: 80%; } }
  .products-page-title h1 {
    color: #d6b981; }

.gallery {
  padding-bottom: 35px; }

.gallery-intro p {
  margin: 0; }

#gallery-page .gallery {
  padding-top: 0; }
#gallery-page .gallery-intro {
  display: flex;
  align-items: center;
  min-height: 500px; }
  #gallery-page .gallery-intro .gallery-title {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; }
    #gallery-page .gallery-intro .gallery-title h1 {
      color: #d6b981; }
    #gallery-page .gallery-intro .gallery-title p {
      color: #fff; }
    @media (max-width: 992px) {
      #gallery-page .gallery-intro .gallery-title {
        width: 80%; } }

/*# sourceMappingURL=style.css.map */
