// HOME PAGE

#home-about
	padding: 90px 0		
#products
	padding: 90px 0
	background-color: #b8a48d
	.title
		margin-bottom: 25px
		h2, p
			color: #fff
	&.home-products
		margin-bottom: 80px
		.home-product-cards
			padding-bottom: 25px

.home-gallery-title
	margin-bottom: 40px

@media (max-width: 992px)
@media (max-width: 768px)
@media (max-width: 576px)