// HOME PAGE

#home-about
	padding: 90px 0

#home-whyme 
	padding: 90px 0px
	.title
		margin-bottom: 25px

#home-cta
	position: relative
	min-height: 400px
	display: flex
	align-items: center
	padding: 100px 0
		
#news
	padding: 90px 0
	background-color: $light-gray
	.title
		margin-bottom: 25px

#home-services
	background-color: $light-gray
	padding: 90px 0
	.title
		margin-bottom: 25px
	.btnrow
		margin-top: 50px

@media (max-width: 992px)
@media (max-width: 768px)
@media (max-width: 576px)