// BASE STYLES

	
h1, h2,
	+font($primary, regular, #000)

h3, h4, h5
	+font($primary, regular, #000)

input,
textarea
	+font($secondary, regular, $dark-gray)
li
	+font($primary, 400, $dark-gray)

a
	+font($secondary, 600, $dark-gray)
	text-transform: uppercase
.btn 	
	+font($secondary, regular, $dark-gray)	

p
	+font($secondary, regular, $dark-gray)


hr
	width: 250px
	border-width: 1px
	border-color: $brand-primary
	margin-top: 25px

.button-1
	+button(#fff, $brand-primary, 0)
	padding: 15px 65px
	font-family: $secondary
	font-weight: 600
	text-transform: uppercase
	border: none


.button-1:hover, .button-1:active
	background-color: $brand-primary
	box-shadow: $boxshadow

.button-2, .button-2:active
	+button(#fff, transparent, 3px)
	border: 1px solid #fff
	font-family: $secondary
	font-weight: bold

.button-2:hover
	+button(#fff, $brand-primary, 3px)
	border: 1px solid transparent
	font-family: $secondary
	font-weight: bold
	box-shadow: $boxshadow

// MEDIA QUERY

@media (max-width: 1200px)
@media (max-width: 992px)
@media (max-width: 768px)
@media (max-width: 576px)