// BLOGPOST

#blogpostpage
	background-color: $light-gray
	.blogpost
		margin-top: -25px
		margin-bottom: 75px
		padding: 10px 10px 25px 10px
		box-shadow: $boxshadow
		background-color: #fff
		.entry-meta
			padding-top: 25px
			padding-bottom: 25px
		